<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Library Managment Home Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<div align="center">
		<hr width="60%" />
		<h2 class="pageheading">Home Page</h2>
		<b>  <a href="authorsPage">Authors Page</a>&nbsp;
			 <a href="booksPage">Books Page</a>&nbsp;
			 <a href="publishersPage">Publishers Page</a>&nbsp;
		</b>
		
	</div>
</head>
<body>
	
</body>
</html>